// ? C O L O R S
$white: #fff;
$black: #000;
$productColor: #505050;
$productTitle: #252525;
$productDesc:#767676;


// ? F O N T 
$fontFamily:'Work Sans',sans-serif;

// ? F O N T  S I Z E
$fontSizelittle: 16px;
$fontSizeNormal: 18px;
$fontSizeMedium: 24px;


// ? W I D T H 
$mobile-width: 375px;
$tablet-width: 1024px;
